body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
}
.hero {
  background-image: url("background.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #5865f2;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 28px;
  padding: 16px 32px;
  cursor: pointer;
}

.features {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.feature {
  flex: 1;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  /* min-height: 444px; */
  
  max-height: 532px;
  flex-wrap: wrap;
}
.feature img {
  width: 115px;
}

.feature__image,
h2 {
  text-align: center;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Estilos para o menu de navegação responsivo */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 62px;
    left: -40px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links li {
    padding: 15px 0;
    border: 1px solid #494949;
  }

  .nav-links li:hover {
    background-color: #404040;
  }

  .features {
    flex-direction: column;
  }
}