body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 2120px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("../images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  height: 590px;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding-left: 50px;
  padding-right: 50px;
}

.header-gradient-separator {
  width: 100%;
  height: 1px;
  border: none;
  background: rgb(105,114,221);
  background: -moz-radial-gradient(circle, rgba(105,114,221,1) 0%, rgba(43,43,43,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(105,114,221,1) 0%, rgba(43,43,43,1) 100%);
  background: radial-gradient(circle, rgba(105,114,221,1) 0%, rgba(43,43,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6972dd",endColorstr="#2b2b2b",GradientType=1); 
  margin-top: 0px; 
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.4s;
}

ul.nav-links li a:hover {
  padding: 0 10px;
  border-bottom: 1px solid white;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: rgb(100,111,233);
  background-color: -moz-linear-gradient(270deg, rgba(100,111,233,1) 0%, rgba(88,101,242,1) 100%);
  background-color: -webkit-linear-gradient(270deg, rgba(100,111,233,1) 0%, rgba(88,101,242,1) 100%);
  background-color: linear-gradient(270deg, rgba(100,111,233,1) 0%, rgba(88,101,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#646fe9",endColorstr="#5865f2",GradientType=1); 
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 28px;
  padding: 14px 32px;
  cursor: pointer;
  transition: .3s;
}

.cta-button:hover {
  background-color: rgb(71, 80, 185)
}

.cta-button:active {
  background-color: rgb(58, 68, 175)
}

.features {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.feature {
  flex: 1;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  min-height: 500px;
  margin: 0 5px;
  
  flex-wrap: wrap;
  transition: 0.5s;
}

.feature:hover {
  box-shadow: 0px 0px 15px rgba(108, 108, 108, 0.578);
}

.feature img {
  width: 115px;
  transition: ease;
}

.feature__image, h2 {
  text-align: center;
}

.footer {
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Estilos para o menu de navegação responsivo */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 62px;
    left: -40px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links li {
    padding: 15px 0;
    border: 1px solid #494949;
  }

  .nav-links li:hover {
    background-color: #404040;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    margin-bottom: 20px;
    min-height: auto;
  }
}
